.places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center; /*containers to center*/

}

.places > h1 {
    font-size: 30px;
    flex: 0 1 100%;/*title alone*/

}

.places > article {
    display: flex;
    flex-direction: column;
    position: relative; /*keep it inside the container*/
    border: 1px solid #FF5A5F;
    padding: 30px 30px 30px 30px;
    margin: 20px 20px 20px 20px;
    width: 390px; /*limit width */
}
.places > article > h2 {
    font-size: 30px;
    margin: 0;
    align-self: center;
    height: 60px;
}

.price_by_night {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 20px;
    border: 4px solid #FF5A5F;
    border-radius: 50%; /*circle*/
    color: #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
}

.price_by_night > p {
    margin: 0 0 0 0; /*perfect circle*/
}

.information {
    display: flex;
    align-items: center;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    justify-content: center; /*everything center*/
    height: 90px;
    width: 100%;
}

.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
    text-align: center;
}

.max_guest > p, .number_rooms > p, .number_bathrooms > p{
    margin-top: auto;
    margin-bottom: auto;
}
.bed_image {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100px;
    background: url("../images/number_rooms.png") no-repeat center;
}

.bath_image {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100px;
    background: url("../images/number_bathrooms.png") no-repeat center;
}

.guest_image {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100px;
    background: url("../images/max_guest.png") no-repeat center;
}

.Amenities ul, .reviews ul{
    list-style-type: none;
}

.Amenities {
    display: flex;
    flex-flow: column;
    height: 270px;
    width: 100%;
    margin-top: 40px;
}

.Amenities h2 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
}

.Amenities li {
    padding-bottom: 15px;
    text-align: left;
    display: flex;
    align-items: center;
}

.pet_image {
    margin-left: -30px;
    margin-right: 10px;
    height: 50px;
    width: 60px;
    background: url("../images/icon_pets.png") no-repeat center;
}
.tv_image {
    margin-left: -30px;
    margin-right: 10px;
    height: 50px;
    width: 60px;
    background: url("../images/icon_tv.png") no-repeat center;
}
.wifi_image {
    margin-left: -30px;
    margin-right: 10px;
    height: 50px;
    width: 60px;
    background: url("../images/icon_wifi.png") no-repeat center;
}

.reviews > h2 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
}

.reviews {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.reviews p {
    font-size: 12px;
}

.reviews h3 {
    font-size: 14px;
}
.reviews_description {
    margin-left: -30px;
    margin-right: 10px;
}
