.places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center; /*containers to center*/

}

.places > h1 {
    font-size: 30px;
    flex: 0 1 100%;/*title alone*/

}

.places > article {
    display: flex;
    flex-direction: column;
    position: relative; /*keep it inside the container*/
    border: 1px solid #FF5A5F;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    width: 390px; /*limit width */
}

.places > article > h2 {
    font-size: 30px;
    margin: 0;
    align-self: center;
    height: 60px;
}
