html {
    /* behavior of the scroll to be as fluid as possible */
    scroll-behavior: smooth;
}
body {
    color: #161616;
}

/*anchor elements */
a {
    color: #161616;
}

.visually-hidden {
    display: none;
}

.card-category {
    color: #D73953;
}

.section-tagline {
    color: #D73953;
}
